useDynLib(pcaNet)
importFrom(Rcpp, evalCpp)
importClassesFrom(pcaMethods, pcaRes)
importFrom("stats", "cov", "cov2cor", "rnorm", "runif", "sd")
importFrom("methods", "new")
importFrom("grDevices", "colorRampPalette")
importFrom("pheatmap", "pheatmap")
importFrom("RColorBrewer", "brewer.pal")
exportPattern("^[[:alpha:]]+")
